
// Card
.card {
  border: 1px solid #DEE2E6;
  @include border-radius(4px);
  @include box-shadow(0,2px,6px,#00000029);

  display: flex;
  flex-direction: column;
}
.card-font {
  font-family: $font-family-primary;
  @include font-size(14px);
}
.card-img {
  height: 256px;
  object-fit: cover;
}
.card-body {
  flex: 1;
  padding: 16px;
  @include font-size(16px);
}
.card-title {
  font-weight: $font-weight-medium;
  margin-bottom: 8px;
}
.card-time {
  padding: 16px;
  color: #707070;
}

// Button
button:not(:disabled) {
  cursor: pointer;
}
.btn {
  display: inline;
  border: 1px solid transparent;
  text-align: center;
  padding: 16px 143px;
  @include pad() {
    padding: 10px 77px;
    @include font-size(14px);
  }
  @include mobile() {
    padding: 8px 55px;
  }
}
.btn-primary {
  color: $white;
  background-color: $red;
  &:hover {
    background-color: $dark-red;
  }
}