.form-control {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  @include pad() {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
  }
  background-color: $input-bg;
  border: 1px solid $input-border-color;
}
.form-label {
  display: inline-block;
  margin-bottom: 4px;
  @include pad() {
    font-size: 14px;
  }
}
.form-check {
  margin-bottom: 40px;
  @include pad() {
    margin-bottom: 20px;
  }
}

%form-check-label {
  cursor: pointer;
	display: inline-block;
	position: relative;
	padding-left: 25px; /* 10 px padding right + 15px input type*/
}
%form-check-box-before {
  content: "";
	width: 20px;
	height: 20px;
	position: absolute;  
	left: 0;
  border : 1px solid #000;
  background: transparent;
}
%form-check-box-after {
  font-family: "Material Icons Outlined";
  content: "check";
  font-style              : normal;
  line-height             : 24px;
  font-size               : 24px;
  width                   : 24px;
  height                  : 24px;
  position                : absolute;
  top                     : 0;
  left                    : 0;
  display                 : inline-block;
}

[type="checkbox"] {
  display: none;
}
[type="checkbox"]:not(:checked) + label {
	@extend %form-check-label;

  &:before {  
	  @extend %form-check-box-before;
	}
  &:after {
    @extend %form-check-box-after;
    opacity   : 0;
    transform : scale(0);
  }
}
[type="checkbox"]:checked + label {
	@extend %form-check-label;

  &:before {  
	  @extend %form-check-box-before;
	}
  &:after {
    @extend %form-check-box-after;
    opacity   : 1;
    transform : scale(1);
  }
}


