
/** header footer 共用設定 **/
header, footer {
  background: $bg-color-primary;
  color: $white;
  a {
    color: $white;
    display: block;
    &:hover {
      color: $light-grey;
    }
  }
}

/**** header 設定 ****/
header {
  @extend %flex-ac-jsb;
  padding: 30px 88px;

  @include pad() {
    padding: 30px 39px;
  }
  @include mobile() {
    padding: 0;
  }
}
.navbar {
  @extend %flex-ac-jsb;
  @include font-face($font-family-primary);
  @include font-size(20px);
  width: 100%;
  @include mobile() {
    flex-direction: column;
  }
}
.navbar-nav {
  @extend %flex-ac-jsa;
  
  .nav-link {
    padding: 0 2rem;
    @include pad() {
      padding: 1rem;
    }
    @include mobile() {
      padding: .5rem 0;
    }
  }
  li:last-child {
    a {
      padding-right: 0;
    }
  }
  @include mobile() {
    flex-wrap: wrap;
    width: 100%;
    li {
      width: 50%;
      border: 1px solid #fff;
      a {
        text-align: center;
        font-size: 20px;
        line-height: 29px;
      }
    }
  }
}
.navbar-brand {
  img {
    max-width: 80px;
    @include mobile() {
      max-width: 48px;
      padding-top: 10px;
      margin: 0 auto;
    }
  }
}

/**** footer 設定 *****/
footer {
  @include font-face($font-family-secondary);
  
  .container {
    padding-top: 32px;
    padding-bottom: 39px;
    @include mobile() {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
}
.footer-top {
  @extend %flex-afs-jsb;
  border-bottom: 1px solid #fff;
  @include mobile() {
    padding-bottom: 24px;
  }
}
.footer-links {
  @extend %flex-ac-jsb;
  padding-top: 44px;
  padding-bottom: 36px;
}
.footer-nav {
  @extend %flex-ac-js;
  @include font-face($font-family-primary);
  @include mobile() {
    display: none;
  }
  a {
    padding: .5rem 1.5rem;
    @include pad () {
      padding: .5rem 1.25rem;
    }
  }
  li:first-child {
    a {
      padding-left: 0;
    }
  }
}
.share-tools {
  @extend %flex-ac-jsb;

  a {
    padding: 0 1rem;

    @include pad() {
      padding: 0 .75rem;
      img {
        width: 24px;
      }
    }
  }
  li:last-child {
    a {
      padding-right: 0;
    }
  }
  li:first-child {
    a {
      padding-left: 0;
    }
  }
}
.contact {
  @include font-size(36px);
  margin: .5rem 0;

  @include pad() {
    font-size: 20px;
  }
  @include mobile() {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
  }
  li {
    padding: 1rem 0;
    @include pad() {
      padding: .75rem 0;
    }
    @include mobile() {
      padding: 0;
    }
  }
  img {
    margin-right: 16px;
    vertical-align: middle;
  }
  .material-icons-outlined {
    font-size: 48px;
    @include pad() {
      font-size: 18px;
    }
  }
}
.footer-bottom {
  padding-top: 32px;

  @include mobile() {
    padding-top: 12px;
    ul {
      flex-wrap: wrap;
    }
  }

  .copyright {
    margin-right: auto;
  }
  .item {
    text-align: right;
    @include font-face($font-family-primary);
    @include font-size(14px);
    padding-left: 48px;
    @include pad() {
      padding-left: 24px;
    }
  }
  .copyright, .item {
    @include mobile {
      width: 100%;
      padding: .25rem 0;
      text-align: left;
      @include font-size(14px);
    }
  }
}