%nav-item-underline {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  background-color: $red;
  transform: scale(0);
  transform-origin: center;
}

.navbar-secondary {
  .navbar {
    flex-direction: row;
  }
  .nav-item {
    font-family: $font-family-secondary;
    font-weight: 500;
    @include font-size(32px);
    @include pad() {
      @include font-size(24px);
    }
    @include mobile() {
      @include font-size(14px, 14px);
    }
    text-align: center;
    width: 100%;
    border-left: 1px solid $lighter-grey;
    border-right: 1px solid $lighter-grey;

    span {
      margin-right: 8px;
      @include mobile() {
        margin-right: 0;
      }
    }
    a {
      padding: 24px 0;
      @include pad() {
        padding: 14px 0;
      }
      @include mobile() {
        padding: 6px 0;
      }
      display: block;
      position: relative;
      color: $black;

      &::after {
        @extend %nav-item-underline;
        @include mobile() {
          height: 4px;
        }
      }
      &:hover::after {
        opacity: 1;
        transform: scale(1);
      }
      &.active::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}