// Color
$white:           #fff;
$black:           #000;
$light-grey:      #DEE2E6;
$lighter-grey:    #DCDCDC;
$dark-red:        #650300;
$red:             #AA0601;
$pink:            #FBF2F2;

// Background Color
$bg-color-primary: #AA0601;
$bg-color-secondary: #FBF2F2;

// Link Color
$link-color-primary: #fff;


// Typography
$font-family-primary:        'Noto Sans TC', sans-serif;
$font-family-secondary:      'Roboto', sans-serif;

$font-size-base: 16px;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:            900 !default;
$font-weight-base:            $font-weight-normal !default;

$line-height-base: 1.5;


// headings
$headings-font-family: $font-family-primary;
$headings-font-weight: $font-weight-bold;
$headings-line-height: $line-height-base;
$headings-color: $dark-red;

// Spacing
$spacer: 8px;

// Form
$input-font-size:       $font-size-base;
$input-line-height:     $line-height-base;
$input-bg:              transparent;
//$input-color:          
$input-border-color:    $black;
$input-placeholder-color: $black;